
header {
    background-color:#ccc;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

header img {
    float:left;
    margin:10px;
    width:100px;
    height:100px;
}

header a{
    background-color:#ddd;
    padding:10px;
}

nav {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
    background-color: #ccc;
    padding:50px;
}

table {
    width: 960px;
    margin: 0 auto;
    order: -1;
}

thead {
    background-color: #ccc;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #e6e6e6;
}
@media screen and (min-width: 800px) {
    header {
        flex-direction: row;
    }
    table {
        order: 0;
    }
}